
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="" method="POST" class="form-control">
    <input type="hidden" name="id" value="@Model.id" placeholder="id" class="form-control" />
    <input type="text" name="Name" value="@Model.Name" placeholder="Name" class="form-control" />
    <input type="text" name="Age" value="@Model.Age" placeholder="Age" class="form-control" />
    <input type="text" name="Dept" value="@Model.Dept" placeholder="Dept" class="form-control" />
    <input type="submit" value="Create" />
</form>